.header-keranjang {
  width: 100%;
  padding: 20px 30px;
  margin-top: 30px;
  box-sizing: border-box;
  background-color: #eee;
}

.header-keranjang h1 {
  font-size: 20px;
}

.container-isi {
  width: 100%;
  margin-top: 15px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.content-keranjang {
  width: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.content-keranjang img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
}

.container-gambar {
  width: 600px;
}

.container-detail {
  width: calc(100% - 600px);
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.container-harga {
  margin-left: 20px;
  text-align: right;
}

.container-harga p {
  font-size: 13px;
  margin-top: 3px;
}

.container-harga h1 {
  font-size: 18px;
  margin-top: 3px;
}

.container-harga h1 span {
  font-size: 14px;
}

.keranjang-kosong {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 430px) {
  main {
    width: 100%;
  }

  .header-keranjang {
    padding: 15px;
    margin-top: 0;
    background-color: white;
  }

  .container-isi {
    margin-top: 10px;
  }

  .content-keranjang {
    display: block;
    border-bottom: 1px solid rgb(198, 198, 198);
  }

  .container-gambar {
    width: 100%;
  }

  .content-keranjang img {
    width: 65px;
    height: 65px;
  }

  .container-judul {
    width: calc(100% - 80px);
    float: right;
  }

  .container-detail {
    width: 100%;

    justify-content: flex-start;
  }

  .container-harga {
    flex: 1;
    justify-content: space-between;
    margin-left: 0;
  }

  .bayar {
    flex: 1;
  }
}
