.container-content-menu {
     width: 100%;
     margin-top: 15px;
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 5px;
     box-shadow: 2px 4px 31px 3px black;
}

.isi-keranjang {
     width: 100%;
     padding: 15px 20px;
     box-sizing: border-box;
     overflow: hidden;
     display: flex;
     align-items: center;
}

.isi-keranjang img {
     width: 80px;
     height: 80px;
     object-fit: cover;
     float: left;
     border-radius: 3px;
}

.container-gambar-judul{
     width: 450px;
     overflow: hidden;
     float: left;
}

.container-judul {
     width: calc(100% - 95px);
     float: right;
}

.container-judul h1 {
     font-size: 15px;
     font-weight: 500;
     margin-bottom: 8px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.container-judul p {
     font-size: 13px;
     margin-top: 3px;
}

.container-judul p span {
     color: red;
}

.container-detail-isi {
     float: right;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
}

.container-harga {
     margin-left: 20px;
     display: inline-block;
     text-align: right;
     background-color: white;
}

.container-harga p {
     font-size: 13px;
     margin-top: 3px;
     color: red;
}

.container-harga h1 {
     font-size: 18px;
     color: red;
     margin-top: 3px;
}

.container-harga h1 span {
     font-size: 14px;
}

.bayar {
     background-color: #fb6000;
     color: white;
     height: 45px;
     font-size: 16px;
     width: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}