@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	width: 85%;
	margin: 0 auto;
}

/* App Bar */
header {
     width: 100%;
     padding: 10px 0;
     background-color: rgb(238, 238, 238);
     box-shadow: 3px 2px 4px 1px rgb(190, 190, 190);
}

.navigation-bar {
     display: flex;
     float: right;
     height: 30px;
}

.nav-bar li{
     list-style: none;
     cursor: pointer;
}

.nav-list a {
     display: inline-block;
     text-decoration: none;
     color: black;
     font-size: 13px;
}

a:hover {
     font-weight: 800;
}

.nav-bar-spacer {
     display: flex;
     flex-grow: 2;
}

.navigation-bar {
     display: flex;
     flex-grow: 1;
}

.header{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
}

.logo-header{
     display: flex;
     flex-direction: row;
     align-items: center;
}

.logo-header a {
     text-decoration: none;
     color: black;
     font-size: 1.4em;
}

.logo-header img {
     width: 80px;
     height: 80px;
     border-radius: 30px;
}

.box-search-header {
     flex: 1;
     position: relative;
     margin: 0 40px;
}

.search_header {
     width: 100%;
     padding: 4px;
     border-radius: 5px;
     box-shadow: 1px 1px 5px 1px rgb(158, 158, 158);
     display: flex;
     flex-direction: row;
     align-items: center;
     background-color: white;
}

.search_header input {
     flex: 1;
     padding: 0 20px;
     border: 0;
     outline: none;
     background-color:white;
}

.search_header button {
     width: 70px;
     height: 40px;
     background-color: #fb6000;
     margin-left: 15px;
     border: 0;
     border-radius: 4px;
     cursor: pointer;
}

.search_header ::placeholder{
     color: black;
}

.res_search_header {
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	position: absolute;
	margin-top: 10px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 4px 0px #717171;
	-moz-box-shadow: 0px 0px 4px 0px #717171;
	box-shadow: 0px 0px 4px 0px #717171;
	display: none;
	padding: 6px 0;
 }
 
 #isi_res_search_header {
	display: none;
 }

.profile-menu-header {
     display: flex;
     flex-direction: row;
}

.profile-menu-header a {
     text-decoration: none;
     color: black;
     font-size: 1.2em;
}

.profile-menu-header p {
     padding: 0 8px 0 8px;
     font-size: 1.2em;
}

.menu-header img {
     width: 40px;
     height: 40px;
     border-radius: 40px;
     object-fit: cover;
}

.button {
	width: 100%;
	height: 48px;
	background-color: #fb6000;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
 }
 
 .button p {
	font-size: 15px;
	font-weight: 600;
	color: white;
 }

 .input {
    width: 100%;
    border: 2px solid rgb(202, 202, 202);
    padding: 15px 13px;
    border-radius: 8px;
    font-size: 14px;
    color: black;
    outline: none;
    resize: none;
  }

/* Footer */
footer {
     width: 100%;
     padding: 20px 0 30px 0;
     position: relative;
     bottom: 0;
     margin-top: 30px;
     background-color: white;
     border-top: 2px solid rgb(200, 200, 200);
}

.copyright {
     text-align: center;
     margin-top: 10px;
     font-size: 15px;
}

.kategori {
	width: 100%;
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 15px;
}

.content-kategori {
	width: 100%;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-kategori img {
	height: 70px;
}

.content-kategori p {
	font-size: 14px;
	margin-top: 15px;
	text-align: center;
	line-height: 20px;
}

.back-bot-nav {
	width: 100%;
	height: 50px;
	margin-top: 15px;
	display: none;
}

.bottom-nav {
	display: none;
}

.bot-nav {
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-top: 10px;
	padding: 8px 0;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: rgb(200, 200, 200);
	border: 1px solid black;
}

.content-nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-nav h5 {
	font-size: 22px;
}

.flash_sale {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}

.title_flash_sale {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box_title_flash_sale {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box_title_flash_sale i {
    font-size: 20px;
    font-weight: 600;
    color: #fb6000;
    margin-right: 5px;
    margin-top: -3px;
}

.box_title_flash_sale p {
    font-size: 25px;
    font-weight: 600;
    color: #fb6000;
}

.countdown_flash_sale {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    color: white;
}

.countdown_flash_sale div {
    width: 32px;
    height: 30px;
    background-color: #fb6000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}

.countdown_flash_sale span {
    margin: 0 5px;
    font-weight: 600;
    color: white;
    font-size: 16px;
}

.box_lihat_semua {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fb6000;
    font-size: 16px;
    font-weight: 400;
}

.box_lihat_semua i {
    margin-top: 1px;
}

.box_iklan_flash_sale {
    width: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.iklan_flash_sale {
    width: 100%;
    background-color: var(--white);
    position: relative;
}

.box_persen_flashsale {
    background-color: #fb6000;
    position: absolute;
    text-align: center;
    margin-top: 10px;
    padding: 5px 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    right: 0;
}

.iklan_flash_sale img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    float: left;
}

.text_iklan_flash_sale {
    width: 100%;
    padding: 13px 15px 15px 15px;
    float: left;
    box-sizing: border-box;
}

.text_iklan_flash_sale h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(47, 47, 47);
    text-align: center;
}

.text_iklan_flash_sale span {
    font-size: 15px;
}

.total_barang_flash_sale {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    border-radius: 20px;
    position: relative;
}

.persen_barang_flash_sale {
    height: 100%;
    border-radius: 20px;
    position: absolute;
}

.text_barang_flash_sale {
    width: 100%;
    height: 100%;
    position: absolute;
}

.text_barang_flash_sale p {
    font-size: 12px;
    font-weight: 500;
    color: red;
    text-align: center;
    line-height: 20px;
}

.box_fs_res {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* PRODUK TERLARIS */

.box_title_produk_terlaris {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box_title_produk_terlaris p {
    font-size: 20px;
    font-weight: 600;
   color: #fb6000;
}

.box_judul_ptl {
    width: 100%;
    height: 43px;
}

.box_judul_ptl p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.box_harga_ptl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.box_harga_ptl h1 {
    font-size: 15px;
    color: #fb6000;
    font-weight: 500;
}

.box_harga_ptl span {
    font-size: 13px;
}

.box_harga_ptl p {
    font-size: 11.5px;
}

/* LIST PRODUK */

.list_produk {
   width: 100%;
   background-color: var(--white);
   position: relative;
}

.text_list_produk {
   width: 100%;
   padding: 13px 15px 15px 15px;
   float: left;
   box-sizing: border-box;
}

.list_produk img {
   width: 100%;
   height: 180px;
   object-fit: cover;
   float: left;
}

.box_judul_list_produk {
   width: 100%;
   height: 43px;
}

.box_judul_list_produk p {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   color:  rgb(47, 47, 47);
   font-size: 14px;
}

.box_harga_list_produk {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 15px;
   align-items: center;
}

.box_harga_list_produk h1 {
   font-size: 15px;
   color: #fb6000;
   font-weight: 500;
}

.box_harga_list_produk span {
   font-size: 13px;
}

.box_harga_list_produk p {
   font-size: 11.5px;
   color:  #fb6000;
}

 /* RESPONSIVE */
 
 @media only screen and (max-width: 900px) {
    .kategori {
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .kategori::-webkit-scrollbar {
        display: none;
    }
     .box_iklan_flash_sale_1 {
         overflow: auto;
         -ms-overflow-style: none;
         scrollbar-width: none;
     }
     .box_iklan_flash_sale_1::-webkit-scrollbar {
         display: none;
     }
 }
 
 @media screen and (max-width: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
     .kategori {
         width: 850px;
         box-sizing: border-box;
         padding: 0 15px;
         grid-gap: 10px;
         margin-top: 15px;
     }
     .isi_kategori {
         padding: 10px 0;
     }
     .isi_kategori img {
         height: 50px;
     }
     .isi_kategori p {
         font-size: 11px;
         line-height: 16px;
     }
     .box_lihat_semua {
         display: none;
     }
     .flash_sale {
         margin-top: 15px;
         background-color: white;
     }
     .title_flash_sale {
         padding: 15px;
     }
     .box_title_flash_sale {
         justify-content: space-between;
     }
     .countdown_flash_sale {
         float: right;
     }
     .box_title_flash_sale i {
         font-size: 15.5px;
     }
     .box_title_flash_sale p {
         font-size: 18px;
     }
     .countdown_flash_sale div {
         width: 27px;
         height: 24px;
         font-size: 12px;
     }
     .countdown_flash_sale span {
         font-size: 12px;
         margin: 0 4px;
     }
     .box_iklan_flash_sale {
         width: 800px;
         padding: 0 15px;
         margin: 0;
         grid-gap: 10px;
         padding-bottom: 15px;
     }
     .iklan_flash_sale img {
         height: 120px;
     }
     .iklan_flash_sale h1 {
         font-size: 15px;
     }
     .iklan_flash_sale span {
         font-size: 13px;
     }
     .total_barang_flash_sale {
         height: 18px;
     }
     .text_barang_flash_sale p {
         font-size: 10px;
     }
     .iklan_flash_sale {
         border: 2px solid rgb(205, 205, 205);
     }
     .box_persen_flashsale p {
         font-size: 13px;
     }
     .title_flash_sale p {
         font-size: 17px;
         font-weight: 600;
     }
     .grid_terlaris {
         width: 100%;
         grid-template-columns: 1fr 1fr;
         box-sizing: border-box;
     }
	.list_produk {
		border: 2px solid rgb(205, 205, 205);
		box-sizing: border-box;
	 }
	 .list_produk img {
		height: 120px;
	 }
	 .text_list_produk {
		padding: 7px 10px 10px 10px;
	 }
	 .box_judul_list_produk {
		height: 37px;
	 }
	 .box_judul_list_produk p {
		font-size: 12px;
	 }
	 /* */
	 .box_harga_list_produk h1 {
		font-size: 12.5px;
		font-weight: 600;
	 }
	 .box_harga_list_produk span {
		font-size: 11px;
	 }
	 .box_harga_list_produk p {
		font-size: 9px;
		font-weight: 500;
	 }
 }

@media screen and (max-width: 600px) {
	.grid-terlaris {
		width: 100%;
		grid-template-columns: 1fr 1fr;
		box-sizing: border-box;
	}

	.bottom-nav {
		display: grid;
	}
}

.tidak-ada-hasil {
	font-size: 14px;
	text-align: center;
	margin: 20px 0;
}
