@import url("../main.css");

.edit {
     width: 450px;
     margin: 40px auto;
     display: flex;
     border: 2px solid rgb(202, 202, 202);
     box-shadow: 2px 4px 31px 3px black;
     border-radius: 12px;
}

.edit-profil {
  width: 450px;
  padding: 30px;
  box-sizing: border-box;
  margin: 30px auto 0 auto;
}

.edit-profil h1 {
  font-size: 20px;
}

.box_img_pro {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  margin-top: 30px;
  position: relative;
}

.change_img_pro {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #fb6000;
  border: 2px solid white;
  position: absolute;
  right: 0px;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.change_img_pro i {
  font-size: 15px;
  margin-left: 1px;
}

.box_img_pro img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.err_foto_pro {
  color: red;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  display: none;
}

.container-input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.isi-container-input {
  width: 100%;
}

.isi-container-input p {
  font-size: 13px;
  margin-bottom: 5px;
}

.button {
  width: 100%;
  height: 54px;
  background-color: #fb6000;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.button p {
  font-size: 16px;
  color: rgb(0, 0, 0);
}
