@import url('../main.css');

.title-kategori {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  margin-top: 30px;
}

.title-kategori p {
  font-size: 22px;
}

.title-kategori span {
  font-size: 22px;
  color: #fb6000;
}

.list-produk {
  box-sizing: border-box;
}

.list-produk img {
  height: 120px;
}

.container-produk {
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

.container-judul-produk {
  height: 37px;
}

.container-judul-produk p {
  font-size: 12px;
}

.container-harga-produk h1 {
  font-size: 13px;
}

.container-harga-produk span {
  font-size: 11px;
}

.container-harga-produk p {
  font-size: 9px;
}

@media screen and (max-width: 600px) {
  .container-produk {
    margin-top: 0;
    padding: 0px 15px 15px 15px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
  }
  .title-kategori {
    margin-top: 15px;
    padding: 0 15px;
    height: 53px;
}
.title-kategori p {
    font-size: 15px;
}
.title-kategori span {
    font-size: 15px;
}

}
