@media screen and (max-width: 900px) {
  .kategori {
    overflow: auto;
  }

  .kategori::-webkit-scrollbar {
    display: none;
  }

  .container-iklan-fs {
    overflow: auto;
  }

  .container-iklan-fs::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .grid-terlaris {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }
  .back-bot-nav {
    display: block;
  }
  .bottom-nav {
    display: block;
  }
}

@media screen and (max-width: 330px) {
  .container {
    margin: 0 auto;
    padding: 0 auto;
  }

  .logo-header {
    display: none;
  }

  .box-search-header {
    margin: 0;
  }

  .menu-header {
    display: none;
  }

  .kategori .content-kategori img {
    height: 55px;
  }

  .title-fs {
    padding: 0;
  }

  footer {
    display: none;
  }
}
